.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
 /*#61DAFB*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.00001s linear;
  }
}

#title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

#reactLink {
  font-size: 40px;
  color: white;
  background-color: black;
  border: 8px solid yellow;
}

.App-header, .randomPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.randomPage2 {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  column-gap: 10000em;
  /*align-items: center;
  justify-content: center;*/
}

.App-header {
    --s: 75px; /* control the size */
    
    --_c:#0000,#fff 1deg 79deg,#0000 81deg;
    --g0:conic-gradient(from 140deg at 50% 87.5% ,var(--_c));
    --g1:conic-gradient(from 140deg at 50% 81.25%,var(--_c));
    --g2:conic-gradient(from 140deg at 50% 75%   ,var(--_c));
    --g3:conic-gradient(at 10% 20%,#0000 75%,#fff 0);
    background:
      var(--g0) 0 calc(var(--s)/-4),var(--g0) var(--s) calc(3*var(--s)/4),
      var(--g1) ,var(--g1) var(--s) var(--s),
      var(--g2) 0 calc(var(--s)/ 4),var(--g2) var(--s) calc(5*var(--s)/4),
      var(--g3) calc( var(--s)/-10) var(--s),
      var(--g3) calc(9*var(--s)/10) calc(2*var(--s)),
      repeating-conic-gradient(from 45deg,#a31e39 0 25%,#31570e 0 50%);
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.default {
  --s: 50px; /* control the size */
  --_g: conic-gradient(at 50% 25%,#0000 75%,#f86466 0);
    
    background:
      var(--_g),var(--_g) var(--s) var(--s),
      var(--_g) calc(2*var(--s)) calc(2*var(--s)),
      var(--_g) calc(3*var(--s)) calc(3*var(--s)),
      repeating-linear-gradient(135deg,#000 0 12.5%,#fff 0 25%);
      background-size: calc(4*var(--s)) calc(4*var(--s))
}

.randomTheme {
  --s: 36px; /* control the size */
  --c1: #b62f31;
  --c2: #ecdacb;
  --c3: #8e1f08;
    
  --_g: calc(2*var(--s)*1.732) calc(2*var(--s)) 
    conic-gradient(from 60deg at 62.5% 50%,var(--c3) 60deg,#0000 0); 
  background:
    calc( 2.598*var(--s)/2) calc(var(--s)/ 2)/var(--_g),
    calc(-0.866*var(--s)/2) calc(var(--s)/-2)/var(--_g),
    repeating-conic-gradient(var(--c2) 0 90deg,#0000 0 180deg) 
    0 0/calc(2*var(--s)*1.732) calc(2*var(--s)),
    repeating-conic-gradient(from 60deg,var(--c1) 0 60deg,var(--c2) 0 180deg) 
    0 0/calc(var(--s)*1.732) var(--s)
}

.randomTheme2 {
    --s: 200px; /* control the size */
    
    --_g: #dc9d37 25%,#fed450 0 50%,#0000 0;
    --_l1: #fff 0 1px,#0000 0 calc(25% - 1px),#fff 0 25%;
    --_l2: #fff 0 1px,#0000 0 calc(50% - 1px),#fff 0 50%;
    background:
      repeating-linear-gradient( 45deg,var(--_l1)),
      repeating-linear-gradient(-45deg,var(--_l1)),
      repeating-linear-gradient(  0deg,var(--_l2)),
      repeating-linear-gradient( 90deg,var(--_l2)),
      conic-gradient(from 135deg at 25% 75%,var(--_g)),
      conic-gradient(from 225deg at 25% 25%,var(--_g)),
      conic-gradient(from  45deg at 75% 75%,var(--_g)),
      conic-gradient(from -45deg at 75% 25%,var(--_g)),
      repeating-conic-gradient(#125c65 0 45deg,#bc4a33 0 90deg);  
    background-size: var(--s) var(--s);  
}

.randomTheme3 {
    --s: 120px; /* control the size*/
    
    --_g: radial-gradient(#0000 70%,#1a2030 71%);
    background:
      var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2),
      conic-gradient(#0f9177 25%,#fdebad 0 50%,#d34434 0 75%,#b5d999 0);
    background-size: var(--s) var(--s); 
}

.randomTheme4 {
    --s: 120px; /* control the size */
    
    --_c: #72e21f /* color 1 */ 25%,#0000 0;
    --_g1: conic-gradient(at 62.5% 12.5%,var(--_c));
    --_g2: conic-gradient(at 87.5% 62.5%,var(--_c));
    --_g3: conic-gradient(at 25%   12.5%,var(--_c));
    background:
      var(--_g1) calc( var(--s)/-8) calc(var(--s)/2),var(--_g1) calc(-3*var(--s)/8) calc(var(--s)/4),
      var(--_g2) calc(3*var(--s)/8) calc(var(--s)/4),var(--_g2) calc(  var(--s)/-8) 0,
      var(--_g3) 0 calc(var(--s)/-4),var(--_g3) calc(var(--s)/-4) 0,
      conic-gradient(at 87.5% 87.5%,var(--_c)) calc(var(--s)/8) 0
      #044012; /* color 2 */
    background-size: var(--s) var(--s);
}

.randomTheme5 {
  --s: 84px; /* control the size */
  
  --c: #fff;
  --a:from -30deg at;
  background:
    linear-gradient(#0000 50%,#0004 0),
    conic-gradient(var(--a) 90%,var(--c) 240deg,#0000    0),
    conic-gradient(var(--a) 75%,#71e9a0  240deg,#0000    0),
    conic-gradient(var(--a) 25%,#0000    240deg,var(--c) 0),
    conic-gradient(var(--a) 40%,var(--c) 240deg,#2a6a9b  0);
  background-size: calc(1.5*var(--s)) var(--s);
}

.randomTheme6 {
  --s: 72px; /* control the size */

  background:
    radial-gradient(#C02942 24%,#0000 25%),
    radial-gradient(#53777A 30%,#0000 32%) calc(var(--s)/2) calc(var(--s)/2),
    repeating-conic-gradient(from 30deg,#ECD078 0 30deg,#D95B43 0 90deg);
  background-size: var(--s) var(--s); 
}

.App-link {
  color: blue;
  font-weight: bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nextButton, #backButton {
  font-size: xx-large;
  font-weight: bold;
  background-color: yellow;
  border: 5px solid magenta;
}

#backButton {
  position: absolute;
  bottom: 0;
  left: 47%;
}

.countDiv, #mapDiv, #mapInput {
  position: absolute;
}

.countDiv {
  height: fit-content;
  width: 20%;
  background-color: chartreuse;
  border: thick dashed black;
  top: 1%;
  right: 1%;
  text-align: center;
}

#value, #buttonGameTitle {
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

#value {
  color: orangered;
}

#buttonGameTitle {
  color: blue;
}

#incrementButton, #mapButton {
  font-size: xx-large;
  font-style: italic;
  text-align: center;
  background-color: black;
  font-weight: bold;
  color: whitesmoke;
}

#mapInput {
  top: 60%;
  left: 1%;
}

#nameOfPlace {
  background-color: black;
  font-size: large;
  font-style: italic;
  color: yellow;
}

#mapDiv {
  top: 45%;
  left: 1%;
  height: 65%;
  width: 30%;
}

#searchButton {
  position: absolute;
  left: 10%;
  top: 112%;
  background-color: black;
  color: yellow;
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
}

#scoreEl {
  top: 240px;
  font-size: xx-large;
  color: black;
  border: 10px double magenta;
}

#scoreEl, #score {
  font-weight: bold;
}

#options {
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: black;
  font-weight: bold;
  font-style: italic;
  color: white;
}

#changeThemeButton {
  background-color: yellow;
  color: red;
  border: thick solid black;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

#randomHeader {
  background-color: yellow;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  font-style: italic;
  border: 6px solid black;  
  color:blue
}

#pageHeader {
  color: orangered;
}

#next {
  border: 4px yellow solid;
  background-color: black;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

.speakerContainer {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#player {
  border: 15px yellow double;
  margin: auto;
  height: fit-content;
  width: 1000px;
}